.li {
    
}
.h1 {
    font-size: 40px;
    color: yellowgreen;

}
.p {
    font-size: 20px;
    color: yellowgreen;
}
.btn {
    
    display: flex;
    gap: 20px;
}
.btn2 {
    width: 150px;
    height: 30px;
}